In [1]:
import numpy as np 
import pandas as pd

In [2]:
from numpy.random import randn

In [3]:
np.random.seed(101)

In [6]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [7]:
df

          W         X         Y         Z
A  0.390528  0.166905  0.184502  0.807706
B  0.072960  0.638787  0.329646 -0.497104
C -0.754070 -0.943406  0.484752 -0.116773
D  1.901755  0.238127  1.996652 -0.993263
E  0.196800 -1.136645  0.000366  1.025984

In [10]:
 df['new'] = df['W']+df['Y']

In [11]:
df

          W         X         Y         Z       new
A  0.390528  0.166905  0.184502  0.807706  0.575030
B  0.072960  0.638787  0.329646 -0.497104  0.402606
C -0.754070 -0.943406  0.484752 -0.116773 -0.269318
D  1.901755  0.238127  1.996652 -0.993263  3.898407
E  0.196800 -1.136645  0.000366  1.025984  0.197166

In [12]:
df.drop

<bound method DataFrame.drop of           W         X         Y         Z       new
A  0.390528  0.166905  0.184502  0.807706  0.575030
B  0.072960  0.638787  0.329646 -0.497104  0.402606
C -0.754070 -0.943406  0.484752 -0.116773 -0.269318
D  1.901755  0.238127  1.996652 -0.993263  3.898407
E  0.196800 -1.136645  0.000366  1.025984  0.197166>

In [13]:
df

          W         X         Y         Z       new
A  0.390528  0.166905  0.184502  0.807706  0.575030
B  0.072960  0.638787  0.329646 -0.497104  0.402606
C -0.754070 -0.943406  0.484752 -0.116773 -0.269318
D  1.901755  0.238127  1.996652 -0.993263  3.898407
E  0.196800 -1.136645  0.000366  1.025984  0.197166

In [15]:
df.drop('new',axis=1)

          W         X         Y         Z
A  0.390528  0.166905  0.184502  0.807706
B  0.072960  0.638787  0.329646 -0.497104
C -0.754070 -0.943406  0.484752 -0.116773
D  1.901755  0.238127  1.996652 -0.993263
E  0.196800 -1.136645  0.000366  1.025984

In [16]:
df

          W         X         Y         Z       new
A  0.390528  0.166905  0.184502  0.807706  0.575030
B  0.072960  0.638787  0.329646 -0.497104  0.402606
C -0.754070 -0.943406  0.484752 -0.116773 -0.269318
D  1.901755  0.238127  1.996652 -0.993263  3.898407
E  0.196800 -1.136645  0.000366  1.025984  0.197166

In [17]:
df.drop('new',axis=1,inplace=True)

In [18]:
df

          W         X         Y         Z
A  0.390528  0.166905  0.184502  0.807706
B  0.072960  0.638787  0.329646 -0.497104
C -0.754070 -0.943406  0.484752 -0.116773
D  1.901755  0.238127  1.996652 -0.993263
E  0.196800 -1.136645  0.000366  1.025984

In [19]:
df['W']

A    0.390528
B    0.072960
C   -0.754070
D    1.901755
E    0.196800
Name: W, dtype: float64

In [22]:
df.loc['A']

W    0.390528
X    0.166905
Y    0.184502
Z    0.807706
Name: A, dtype: float64